@import "./variables.css";



.footer-button {

    text-transform: uppercase;
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    
    background-color: unset;
    
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 20px;
    
    &:hover {
        background-color: #85c4eeb2;
    }

    &:active {
        background-color: #67addbb2;
    }

}

#about-section {


    
}


.shown {
    button {
        transition: 0.3s;
    }
}

#settings-section {

    h3 {
        margin-top: 50px;
    }

    

    #save-data-location {
        background: #f4f4f4;
        border: 1px solid #ddd;
        border-left: 3px solid #3376f3;
        border-radius: 3px;
        color: #666;
        font-family: "Source Code Pro", monospace;
        font-size: 12pt;
        padding: 10px;
        width: max-content;
    }

    div.setting {
        display: inline-flex;
    }
}