@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400&display=swap');
@import "./variables.css";

#nav {

    background-color: #ebebeb;

    width: 200px;

    top: 0;
    bottom: 0;    

    max-height: 100%;
    display: flex;
    flex-direction: column;

    header, div {
        min-height: max-content;
        flex-basis: 1;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .nav-header {
        margin-left: 10px;
    }

    .nav-category {

        h5 {
            margin: 15px auto 5px 15px;
            font-size: 14pt;
        }

        button {

            font-family: "Manrope", sans-serif;
            transition: 0.3s;
            background-color: unset;
            outline: none;
            border: none;

            display: flex;

            p {
                margin: auto auto auto 5px;

                &:before {
                    content: "(";
                }

                &:after {
                    content: ")";
                }
            }

            text-align: left;
            padding: 5px 0 5px 25px;

            &:hover {
                background-color: #d4d4d4;
            }

            &:active {
                background-color: #adadad;
            }
        }

        .is_favorite {
            background-color: gold;   

            &:hover {
                background-color: darken(gold, 10%);
            }

            &:active {
                background-color: darken(gold, 15%);
            }
        }

        .shown {
            background-color: #309ec0;   

            &:hover {
                background-color: darken(#309ec0, 10%);
            }

            &:active {
                background-color: darken(#309ec0, 15%);
            }

            &.is_favorite {
                background-color: darken(gold, 15%);   
    
                &:hover {
                    background-color: darken(gold, 20%);
                }
    
                &:active {
                    background-color: darken(gold, 30%);
                }
            }
        }
    }


    .villager-container {
        min-height: 0;
        
        

        #villagers {

            min-height: 0;
            flex-grow: 1;
            overflow-y: auto;
            
            box-shadow: 
                inset 0px 15px 8px -10px rgb(201, 201, 201),
                inset 0px -15px 8px -10px rgb(201, 201, 201);
        }
    }

    #footer {

        background-color: rgb(206, 206, 206);

        border-top: 1px solid black;


        button {
            padding: 15px auto;
            font-weight: 500;
        }

        .shown {

            background-color: #3cc283;

            &:hover {
                background-color: #36ac75;
            }

            &:active {
                background-color: #2c855b;
            }
        }
    }
}