#settings-section {

    #save-data-location {
        background: #f4f4f4;
        border: 1px solid #ddd;
        border-left: 3px solid #3376f3;
        border-radius: 3px;
        color: #666;
        font-family: "Source Code Pro", monospace;
        font-size: 12pt;
        padding: 10px;
        width: max-content;
    }
}